:root{
    background-color: rgb(27 3 34);
}

* {
    color: white;
    font-family: monospace;
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

button {
    padding: 1rem 0.5rem;
    background-color:blueviolet;
    
    font-size: 1.5rem;
}
button:hover{
    background-color:violet;
}

#board-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: min(80svh,80svw);
    height: min(80svh,80svw);
    background-color: rgb(233 233 187 / 13%);
}
.block-div{
    width: 100%;
    height: 100%;
    background-color: rgb(177 186 221 / 17%);
    border: 5px solid transparent;
    position: relative;
}
.sign-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;

    opacity: 0;
    transition: 0.5s;
}


.sign-div.circle{
    background-image: url("/svg/circle.svg");
}
.sign-div.cross{
    background-image: url("/svg/cross.svg");
}
.sign-div.locked {
    opacity: 1;
    background-size: 70%;
}
#stats-div{
    width: min(80svh,80svw);
    background-color:rgb(177 186 221 / 17%);
    box-shadow:  rgb(233 233 187 / 13%) 10px 5px 0px;

}
#msg-box span{
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    background-color: blueviolet;

}
footer {
    padding-top: 2rem;
}